
.header-container {
    background-image: url("/img/simple_stripe_pattern-782.jpg"),
        linear-gradient(
            to bottom,
            rgba(230, 74, 25, 0),
            rgba(0, 0, 0, .6) 90%
        );
    background-origin: inherit;
    background-attachment: fixed;
    background-blend-mode: overlay;
}

.footer-container {
    background-image: url("/img/simple_stripe_pattern-782.jpg"),
        linear-gradient(
            to bottom,
            rgba(230, 74, 25, 0),
            rgba(0, 0, 0, .6)
        );
    background-origin: inherit;
    background-attachment: fixed;
    background-blend-mode: overlay;
}

.main > aside {
    background-image: url("/img/simple_stripe_pattern-782.jpg"),
        linear-gradient(
            to bottom,
            rgba(230, 74, 25, 0),
            rgba(0, 0, 0, .6) 85%
        );
    background-origin: inherit;
    background-attachment: fixed;
    background-blend-mode: overlay;
}

.title {
}

body {
}

.create {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
}


@media only screen and (min-width: 480px) {

/* ==============
    MOBILE: Main
   ============== */

    .header-container {
        background-image: url("/img/simple_stripe_pattern-782.jpg"),
            linear-gradient(
                to bottom,
                rgba(230, 74, 25, 0),
                rgba(0, 0, 0, .6) 50%
            );
        background-origin: inherit;
        background-attachment: fixed;
        background-blend-mode: overlay;
    }

    .footer-container {
        background-image: url("/img/simple_stripe_pattern-782.jpg"),
            linear-gradient(
                to bottom,
                rgba(230, 74, 25, 0),
                rgba(0, 0, 0, .6)
            );
        background-origin: inherit;
        background-attachment: fixed;
        background-blend-mode: overlay;
    }

    .main > aside {
        background-image: url("/img/simple_stripe_pattern-782.jpg"),
            linear-gradient(
                to bottom,
                rgba(230, 74, 25, 0),
                rgba(0, 0, 0, .6) 90%
            );
        background-origin: inherit;
        background-attachment: fixed;
        background-blend-mode: overlay;
    }

    .title {
    }

    body {
    }
}

@media only screen and (min-width: 768px) {

/* ==============
    WIDE: Main
   ============== */

    .header-container {
        background-image: url("/img/simple_stripe_pattern-782.jpg"),
            linear-gradient(
                to bottom,
                rgba(230, 74, 25, 0),
                rgba(0, 0, 0, .6) 50%
            );
        background-origin: inherit;
        background-attachment: fixed;
        background-blend-mode: overlay;
    }

    .footer-container {
        background-image: url("/img/simple_stripe_pattern-782.jpg"),
            linear-gradient(
                to bottom,
                rgba(230, 74, 25, 0),
                rgba(0, 0, 0, .6)
            );
        background-origin: inherit;
        background-attachment: fixed;
        background-blend-mode: overlay;
    }

    .main > aside {
        background-image: url("/img/simple_stripe_pattern-782.jpg"),
            linear-gradient(
                to bottom,
                rgba(230, 74, 25, 0),
                rgba(0, 0, 0, .6) 60%
            );
        background-origin: inherit;
        background-attachment: fixed;
        background-blend-mode: overlay;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

}
